{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesHeader" . }}

### Annotations

All annotations values are simply key/value objects directly as if you
were writing the k8s manifest.

{{ template "chart.valuesTable" . }}
